# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d76abe11131e4089d645070dd3724a7d22de1107f260debdc65c1f8c7a581a9d97c6319376146a1a2524caf2c3e3d03b4a9cc4e8fb32dcd87ae1d77fcf41adc8

test:
  secret_key_base: b11812ff88f59a724841059799aca4e290abdbb61fda02a66cd17e1f2a194343f034677ea86ec3b281a1134f66db0217a5b1fd2dd0b396ac136153f2b7663cf0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
